@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .genarel-comment-style {
    @apply font-sans font-normal text-sm flex items-center text-white leading-5;
  }
  .text-send {
    @apply bg-[#373E4E] w-3/4 rounded-2xl px-5 py-4;
  }
  .text-reply {
    @apply bg-[#7A8194] rounded-2xl px-5 py-4 w-3/4 mt-3 ml-20;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
